body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #4A90E2, #13feea);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    text-transform: uppercase;
    color: rgb(249, 0, 149);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.game-buttons {
    display: flex;
    gap: 20px;
}

.game-btn {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

.game-btn:first-child {
    background: #FFD700; 
    color: #fffcfc;
    box-shadow: 0px 5px 15px rgb(255, 215, 0, 0.5);
}

.game-btn:nth-child(2) {
    background: #f42393; 
    color: #fffdfd;
    box-shadow: 0px 5px 15px rgba(251, 0, 255, 0.5);
}

.game-btn:nth-child(2):hover {
    background: #f42393;
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(251, 0, 255, 0.5);
}

.game-btn:first-child:hover {
    background: #E6C200;
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgb(255, 215, 0, 0.7);
}

.game-btn:last-child {
    background: #FF5733;
    color: white;
    box-shadow: 0px 5px 15px rgb(255, 87, 51, 0.5);
}

.game-btn:last-child:hover {
    background: #E04B2D;
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgb(255, 87, 51, 0.7);
}

@media (max-width: 600px) {
    h1 {
        font-size: 26px;
    }

    .game-buttons {
        flex-direction: column;
    }

    .game-btn {
        width: 80%;
        font-size: 18px;
        padding: 12px 0;
    }
}